body, html {
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
    box-sizing: border-box;
}

.App {
    text-align: center;
    padding-bottom: 40px;
    display: flex; flex-direction: column;
    position: relative; height: 100%
}

header {
    width: 100%; position: fixed; height: 200px;
    background-color: white; z-index: 100;
}

#user_list {
    display: flex; flex-wrap: wrap; justify-content: center;
    overflow-y: auto;
    margin-top: 200px;
}

#title {
    width: 100%;
    height: 64px;
    color: black;
    background-color: grey;
    text-align: center;
    display: flex; justify-content: center; align-items: center;
    font-weight: bold;
}

.user-card {
    display: flex; align-items: center; flex-direction: column;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background: #f9f9f9;
    position: relative;
    width: 100px;
}

.user-card .checkbox {
    position: absolute;
    top: 5px; left: 5px;
    display: none;
}

#pagination {
    display: flex;
}

#pagination p:first-child {
    border-radius: 30px; background-color: black; color: white;
    height: 30px; width: 30px; margin-left: 0;
    display: flex; justify-content: center; align-items: center;
    font-weight: bold;
    cursor: pointer;
}

#pagination p:last-child {
    display: flex; justify-content: center; align-items: center; margin-left : 10px;
}

.editmode .checkbox {
    display: block;
}

.editmode .actions .container {
    display: block; visibility: visible;
}

.actions { display: flex; justify-content: flex-start; align-items: center; }

.actions .container {
    display: none; visibility: hidden;
}

.actions button { margin: 0 5px; }

#searchbar {
    width: 25%; max-width: unset; min-width: 200px;
    height: 40px;
    background-color: lightgrey;
    color: black;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    border: none;
    font-size: 18px; font-weight: bold;
}

#searchbar_container {
    display: flex; justify-content: center; align-items: center;
}

#searchbar::placeholder {
    color: black;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px; margin-bottom: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin: 0;
    margin-right: 10px; margin-bottom: 5px;
}

@media (max-width: 800px) {
    header { height: 280px; }
    #user_list { margin-top: 280px }
    #searchbar_container { flex-direction: column; }
    .actions button { margin: 5px; }
}
